# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.venv/
env/

# Jupyter
.ipynb_checkpoints/

# Environment files
.env

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Large raw datasets
data/raw/

# Large generated/processed datasets
data/processed/*.csv

# Generated notebook outputs
notebooks/*.csv